<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="department" class="com.wipro.springdemo.Department">
    </bean>
    
    <!-- Constructor-based DI for Department1 -->
    <bean id="department1" class="com.wipro.springdemo.Department1">
    <constructor-arg type="java.lang.String" value="ECE"/>
    <constructor-arg type="java.lang.String" value="Electronics"/>
</bean>
    

    <!-- Constructor-based DI for College -->
    <bean id="college" class="com.wipro.springdemo.College">
        <constructor-arg value="Wipro College of Engineering"/>
        <constructor-arg ref="department1"/>
    </bean>
</beans>
